.feedback{
    position:absolute;
    right:1em;
    text-align:right;
    opacity:0.15;
    color:black;
    transition: color 150ms,opacity 150ms;
}

.feedback:hover{
    position:absolute;
    right:1em;
    text-align:right;
    opacity:1;
    color:red;
}