html, body{
	margin:0;
	padding:0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:1em;
	overflow:hidden;
	cursor:default;
	width:100%;
	/*background-color:rgb(242, 242, 242);/*nur edge*/
}

a{
	text-decoration:none;
}

.button{
	display:inline-block;
	text-align:center;
	color:black;
	padding:0.5em 1em;
	/*background-color: white; /*nur firefox*/
}

.button:hover{
	background-color: rgb(218, 218, 218);
}

.button:active{
	background-color: rgb(194, 194, 194);
}

.allowNext, .allowNextinSetting{
	float:right;
}

.cancel{
position:absolute;
right:5em;
}

.enable, .disable, .setting{
	
	float:left;
}

.newWindow{
	float:right;
	font-weight: bold;
 }

.addBlacklist, .addWhitelist{
	position:relative;
	top: 0.7em;
}
 
h3, h4{
	text-align:center;
	margin:0.5em 0.5em;
}

p{
	text-align:left;
	margin:1em;
	margin-bottom:0em;
	width:20rem;
}
a div{
	cursor:default;
}

.moresetting{
	position:absolute;
	right:1em;
	text-align:right;
}

body{
	text-align:center;
}
.addBlacklist,.addWhitelist{
	padding-left:1em;
}